body {
    text-align: center;
    font-family: Arial;
    background-color: rgb(40,40,40);
    color: white;
}
.user {
    margin: 60px auto;
    max-width: 1000px;
}
.username {
    margin: 10px;
}
.tweet {
    padding: 20px 5px;
    border-bottom: 2px solid rgb(60,60,60);
}
.tweetimg {
    max-width: 400px;
    max-height: 400px;
    margin: 10px auto;
    display: inline-block;
}
.tweettext {
    text-align: left;
    padding: 10px;
    margin: auto;
    max-width: 750px;
    width: auto;
}
