<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Minimal Twitter</title>
</head>
<body>
<h1>Minimal Twitter</h1>

{% for user in users %}
    <div class='user'>
    <h2 class='username'>{{user}}</h2>
    {% for tweet in users[user] %}
        <div class='tweet'>
        <div class='tweettext'>
            {{ tweet.full_text }}
        </div>
        {% if tweet.media is defined and tweet.media != None %}
        {% for img in tweet.media %}
        <img class='tweetimg' src='{{ img.media_url_https }}' alt='Tweet Image'>
        {% endfor %}
        {% endif %}
        </div>
    {% endfor %}
    </div>
{% endfor %}

</body>
</html>
